* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-links {
  margin: 5px;
  padding: 5px
}

body {
  text-align: center;
  background-color: white;
  padding-bottom: 100px;
 
}

.restaurant-card, .form {
  border-style: solid;
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
  border-width: 1px;
  padding: 25px;
  position: relative;
}

.reviews {
  text-align: center;
  list-style-position: inside;
  padding-top: 30px;
  list-style-type: none;
}

.restarurant-delete {
    margin-top: 1px;
    margin-right: 2px;
    position:absolute;
    bottom:0;
    right:0;
}